.header {
  width: 100%;
  height: 100vh;
  background-image: url('/cover.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 108, 234, 0.8);
  z-index: 1;
}
.header-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;
  padding: 0 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
}
nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  text-decoration: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  padding: 10px;
}
nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 170px auto;
  position: absolute;
}
.hero h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
}
.hero p {
  margin-top: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.hero-btn {
  width: 253px;
  height: 64px;
  margin-top: 80px;
  padding: 20px 40px;
  border-radius: 4px;
  border-color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}
.hero button:hover {
  background-color: rgba(42, 108, 234, 1);
  color: #fff;
}

nav .menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
nav .menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
.logo {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
}
.logo::before,
.logo::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  margin-right: 20px;
}
.logo::before {
  width: 24px;
  height: 24px;
  background-color: white;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.logo::after {
  width: 24px;
  height: 24px;
  background-color: #2a6cea;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.mobile-menu {
  position: absolute;
  top: 0px;
  right: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  padding: 10px 20px;
  border-left: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
}
.mobile-menu.open {
  transform: translateX(0);
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.menu-title {
  font-size: 18px;
  font-weight: bold;
}
.close-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.menu-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.menu-list a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: block;
}
.menu-divider {
  height: 1px;
  background-color: #ddd;
}
