* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1216px;
  margin: 0 auto;
  width: 100%;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url('/cover.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 108, 234, 0.8);
  z-index: 1;
}
.header-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;
  padding: 0 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
}
nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  text-decoration: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  padding: 10px;
}
nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 170px auto;
  position: absolute;
}
.hero h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
}
.hero p {
  margin-top: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.hero-btn {
  width: 253px;
  height: 64px;
  margin-top: 80px;
  padding: 20px 40px;
  border-radius: 4px;
  border-color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}
.hero button:hover {
  background-color: rgba(42, 108, 234, 1);
  color: #fff;
}
#how-it-works {
  background-color: #fff;
  text-align: center;
}

#how-it-works h2 {
  font-size: 2rem;
  color: black;
  margin: 80px auto 60px auto;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}
nav .menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
nav .menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.steps {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.step {
  display: flex;
  flex-direction: column;
}
.third-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}
.third-info h2 {
  margin-bottom: 18px;
}
.third-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.third-info-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  margin-top: 20px;
}

.logo {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
}
.logo::before,
.logo::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  margin-right: 20px;
}
.logo::before {
  width: 24px;
  height: 24px;
  background-color: white;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.logo::after {
  width: 24px;
  height: 24px;
  background-color: #2a6cea;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.step {
  text-align: left;
}
.step h3 {
  margin: 16px auto 4px auto;
}
span {
  color: grey;
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
}
.info-text-item {
  font-size: 16px;
  line-height: 28px;
  color: grey;
}

.mobile-menu {
  position: absolute;
  top: 0px;
  right: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  padding: 10px 20px;
  border-left: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
}
.mobile-menu.open {
  transform: translateX(0);
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.menu-title {
  font-size: 18px;
  font-weight: bold;
}
.close-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.menu-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.menu-list a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: block;
}
.menu-divider {
  height: 1px;
  background-color: #ddd;
}

@media (max-width: 1200px) {
  .hero p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .header {
    background-image: url('/cover768.svg');
    width: auto;
  }
  .menu-header .logo p {
    color: black;
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .menu-header {
    padding-left: 30px;
  }
  .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
    display: flex;
  }
  .mobile-menu,
  .menu-list {
    display: block;
  }
  .nav-links {
    display: none;
  }
  nav .menu-icon {
    display: flex;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .menu-header .logo::before {
    background-color: grey;
  }
  .menu-list a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    line-height: 32px;
    display: block;
  }
  .hero {
    width: 472px;
  }
  .hero p {
    font-size: 14px;
    line-height: 24px;
  }
  .hero h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .step {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .third-block h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .third-block {
    gap: 30px;
  }
  .third-img {
    max-width: 100%;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .testimonials {
    overflow: hidden;
  }
  .arrow-button {
    display: none;
  }
  #form .input {
    max-width: 352px;
  }

  .form-btn {
    max-width: 352px;
  }
  .wrap-check label {
    max-width: 352px;
  }
}

@media (max-width: 375px) {
  .hero p {
    font-size: 12px;
    line-height: 20px;
  }
  .steps {
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 340px;
    width: 100%;
    padding: 0 4px;
  }
  .third-block {
    display: flex;
    flex-direction: column-reverse;
  }
  .third-block h2 {
    margin-bottom: 0;
  }
  .third-info {
    text-align: center;
  }
  .third-info-text {
    margin-top: 0px;
  }
  .hero {
    width: 280px;
  }
  .hero h1 {
    font-size: 24px;
    line-height: 32px;
  }
  #how-it-works h2 {
    color: black;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
  }
  .testimonials {
    overflow: hidden;
  }
  .arrow-button {
    display: none;
  }
  #form .input {
    width: 343px;
  }
  #form h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .wrap-input {
    flex-direction: column;
  }
  .form-btn {
    max-width: 343px;
  }
  .wrap-check label {
    margin: 0px !important;
    max-width: 343px;
  }
  .wrap-check {
    gap: 15px;
    flex-direction: column;
  }
  #form .input {
    max-width: 343px;
  }
  #form h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 320px) {
  #form .input {
    max-width: 280px;
  }
  .wrap-check label {
    margin: 0px !important;
    max-width: 280px;
  }
  .form-btn {
    max-width: 280px;
  }
  #form h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
.avatar {
  width: 44px;
}
.avatar-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#testimonials {
  background-color: rgba(246, 248, 250, 1);
  position: relative;
  padding-bottom: 45px;
}

.testimonials-container {
  position: relative;
  overflow: hidden;
}

#testimonials .container .h2 {
  margin: 33px auto;
  padding-top: 33px;
  text-align: center;
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.testimonial-card {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  height: 316px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.arrow-button {
  background: none;
  width: 32px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  top: 50%;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.arrow-button :hover {
  color: rgba(42, 108, 234, 1);
  transform: scale(1.5);
}
.arrow-button.left:hover .arrow-icon {
  content: url('/arrow-slider-hover.png');
  transform: rotate(180deg);
}
.arrow-button.right:hover .arrow-icon {
  content: url('/arrow-slider-hover.png');
  transform: rotate(180deg);
}
.left {
  left: 0;
}
.right {
  right: 0;
  transform: rotate(180deg);
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
.pre-footer {
  height: 88px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border-top: 1px solid darkgray;
}
.footer p {
  font-size: 18px;
  line-height: 32px;
}

#form h2 {
  text-align: center;
  margin: 56px auto 32px auto;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}
#form .input {
  width: 384px;
  height: 64px;
  background-color: rgba(246, 248, 250, 1);
  border: none;
  padding: 16px;
  font-size: 18px;
  line-height: 32px;
  outline: none;
}
.wrap-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-input {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}
.form-btn {
  color: #fff;
  width: 384px;
  height: 64px;
  background-color: rgba(42, 108, 234, 1);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}
.wrap-check {
  display: flex;
}
.wrap-check label {
  margin-right: 25px;
  width: 384px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.check {
  width: 24px;
  height: 24px;
  accent-color: #aaa;
  cursor: pointer;
}
.error-message {
  margin-top: 10px;
  text-align: center;
  color: red;
}
.success-message {
  margin-top: 10px;
  text-align: center;
  color: blue;
}
